.container {
	width: 800px;
}

pre {
	color: white;
	background-color: #3874a4;
}
	

.navbar {
	margin-bottom: 0px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #3874a4;
}

.logo-icon {
	height: 106px;
}

.logo{
	height: 64px;
}

a {
	color: white;
}

.feature-section a {
    color: #3874a4;	
}

.blue-section{
	background-color: #3874a4;
	height: 400px;
}

.white-text {
	color: white;
}

.slogan{
	color: white;
	font-size: 68px;
}

.gitter-icon{
	height: 28px;
	vertical-align: top;
}


div.feature-section{
	text-align: center;
}


div.download-btn>a {
	display: inline-block;
    background: #ffda53;
    color: #3874a4;
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 3px 3px 0 rgba(61,59,60,.4);
    margin-bottom: 3px;
	width: 218px;	   
}


.logo-section {
	vertical-align: middle;
}

#dialog-div {
	margin-top: 50px;
}


.large-logo {
	height: 106px;
}


.feature-section {
	height: 400px;
	margin-top: 10px;
}

.blue-text{
	color: #3874a4;	
}

.footer-section {
    padding-top: 15px;
	height: 50px;
	background-color: #6BA7D7;;
}


i.feature-circle {
    width: 72px;
    height: 72px;
    text-align: center;
    background: #ffda53;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    margin: 0 0 15px;
    line-height: 1;
    font-size: 40px;
    line-height: 52px
}


.intro-section{
	background-color: #6BA7D7;
	height: 250px;
    font-size: 16px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.showcase-section{
    background-color: gray;
	height: 500px;
}

.community-section {
    height: 200px;
}


.community-section img {
    width: 400px;
}

.community-section h3 {
    color: #6BA7D7;
}
